{% extends '_layouts/base-web-layout' %}

{# {% block main %} #}
{# {% include 'components/_header.twig' %} #}
{# {% block content %} #}
{# <main> #}
{# <div class="container"></div> #}
{# </main> #}
{# {% endblock %} #}
{# {% include 'components/_footer.twig' %} #}
{# {% endblock %} #}

{% block content %}
  {% include 'components/_header' only %}

  {% if entry is defined %}
    {% if entry.components is defined and entry.components.count() > 0 %}
      {% for i in entry.components.all() %}
        {% include 'components/_' ~ i.type with {
          component: i
        } only %}
      {% endfor %}
    {% endif %}
  {% endif %}

  <footer-components></footer-components>
{% endblock %}
