{% extends '_layouts/base-web-layout' %}

{% block content %}
  <div class="container">
    Adipisicing eum quae ipsam aliquid dolores tempore? Temporibus maxime sit
    voluptatibus debitis quasi! Possimus sapiente dolore optio exercitationem
    quaerat eaque quo recusandae Saepe rerum quo maxime consequuntur quisquam
    quidem. Nihil.
  </div>
{% endblock %}
